<div class="content-wrapper">
  <div
    class="px-4 py-1 bg-body-tertiary fs-5 text-center"
    style="
      text-wrap: balance;
      background: linear-gradient(rgba(200, 160, 200, 0.05), rgba(0, 0, 0, 0.25));
    "
  >
    Made as a means to easy track calories not your <span class="text-success-emphasis">data</span>! No fluff, strictly necessary tools!
  </div>
  <div
    class="bg-dark-subtle m-1 rounded border border-dark-subtle text-muted d-flex flex-column gap-1 p-1"
  >
    @for (aboutNote of aboutNotes; track $index) {
      <div
        class="d-flex align-items-center py-1 rounded"
        [class]="{
          'bg-body-tertiary': $even,
          'bg-body-secondary': $odd,
        }"
      >
        <div class="mx-2 opacity-75">
          <iconify [icon]="aboutNote.icon" [class]="aboutNote.iconClass" />
        </div>
        <div>{{ aboutNote.text }}</div>
      </div>
    }
</div>
