.main-wrapper {
  border: 2px solid rgb(from var(--bs-info-text-emphasis) r g b / 0.1);
}

input {
  color: var(--bs-info-text-emphasis);
}
::placeholder {
  color: var(--bs-info-text-emphasis);
  font-style: italic;
  opacity: 0.4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(200, 160, 200, 0.05));
  z-index: 1000;
  pointer-events: none;
}
