<div class="rounded bg-body-secondary position-relative main-wrapper">
  <div class="overlay"></div>
  @if (!weightInputDisabled()) {
    @if (weights().length) {
      <svg class="w-100" style="pointer-events: none; height: 64px">
        @for (weight of weights(); track $index) {
          <circle
            [attr.cx]="`${(96 / Math.max(weights().length - 1, 1)) * $index + 2}%`"
            [attr.cy]="`${weightsRange() === 0 ? 50 : ((weightsMax() + weightsRange() * 0.1 - weight) / (weightsRange() * 1.5)) * 100}%`"
            r="4"
            fill="rgba(from var(--bs-info-text-emphasis) r g b / 0.5)"
          />

          @if ($index < weights().length - 1) {
            <line
              [attr.x1]="`${(96 / (weights().length - 1)) * $index + 2}%`"
              [attr.y1]="`${weightsRange() === 0 ? 50 : ((weightsMax() + weightsRange() * 0.1 - weight) / (weightsRange() * 1.5)) * 100}%`"
              [attr.x2]="`${(96 / (weights().length - 1)) * ($index + 1) + 2}%`"
              [attr.y2]="`${weightsRange() === 0 ? 50 : ((weightsMax() + weightsRange() * 0.1 - weights()[$index + 1]) / (weightsRange() * 1.5)) * 100}%`"
              stroke="rgba(from var(--bs-info-text-emphasis) r g b / 0.4)"
              stroke-width="1"
            />
          }
          @if (weight) {
            <text
              [attr.x]="`${(88 / Math.max(weights().length - 1, 1)) * $index + 6}%`"
              y="96%"
              fill="rgba(from var(--bs-info-text-emphasis) r g b / 0.5)"
              font-size="12px"
              font-style="italic"
              text-anchor="middle"
            >
              {{ weight.toFixed(1) }}
            </text>
          }
        }
        @for (calorie of calories(); track $index) {
          @if ($index < calories().length - 1) {
            <line
              [attr.x1]="`${(96 / (calories().length - 1)) * $index + 2}%`"
              [attr.y1]="`${caloriesRange() === 0 ? 50 : ((caloriesMax() + caloriesRange() * 0.1 - calorie) / (caloriesRange() * 1.5)) * 100}%`"
              [attr.x2]="`${(96 / (calories().length - 1)) * ($index + 1) + 2}%`"
              [attr.y2]="`${caloriesRange() === 0 ? 50 : ((caloriesMax() + caloriesRange() * 0.1 - calories()[$index + 1]) / (caloriesRange() * 1.5)) * 100}%`"
              stroke="rgb(110, 100, 140)"
              stroke-width="1"
            />
          }
        }
      </svg>
    }
    <div class="d-flex">
      <div class="flex-grow-1 px-1 d-flex align-items-center mt-3">
        <iconify class="opacity-50" icon="ph:tilde-fill" />
        <div class="ms-1 fw-semibold opacity-75" style="font-size: 14px">
          {{
            diaryLogService
              .getWeightByFormula(isoDate(), optionsService.options().weightFormulaBackDays)
              .toFixed(1)
          }}
          kg
        </div>
      </div>
      <div
        class="position-relative d-flex justify-content-center align-items-center overflow-hidden me-1"
        style="width: 48px; height: 48px"
      >
        <iconify
          class="position-absolute z-0 opacity-55"
          [class]="{
            'text-info-emphasis': diaryLogService.getCurrentWeight(isoDate()),
            'text-warning-emphasis': !diaryLogService.getCurrentWeight(isoDate()),
          }"
          style="transform: scaleX(1.25)"
          icon="iconoir:weight"
          size="3rem"
        />
        <input
          type="number"
          inputmode="numeric"
          class="form-control text-center p-0 shadow-none z-1 border-0"
          style="width: 44px; background-color: transparent; margin-top: 10px"
          [placeholder]="diaryLogService.getCurrentWeight(isoDate()) ? 'kg' : '?'"
          [disabled]="weightInputDisabled()"
          [value]="diaryLogService.getCurrentWeight(isoDate())"
          (blur)="diaryLogService.updateCurrentWeight(isoDate(), $event.target.value)"
        />
      </div>
    </div>
  }
</div>
