zxing-scanner {
  margin-top: 2rem;
  max-width: min(60%, 300px);
  margin: auto;
}

.laser {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(240, 50, 50, 0.5);
  box-shadow: 0 0 8px rgba(240, 50, 50, 0.5);
  top: 50%;
  animation: scan 1s infinite ease-in-out;
}

@keyframes scan {
  0% {
    top: 5%;
  }
  50% {
    top: 95%;
  }
  100% {
    top: 5%;
  }
}
