<div class="content-wrapper">
  <div class="border rounded m-1 mb-0">
    <div class="mx-1">Foods</div>
    <div class="d-flex justify-content-between p-1 bg-body-tertiary">
      <button
        class="btn btn-outline-secondary p-0 px-1 rounded-0"
        iconSize="24px"
        buttonIcon="iconoir:save-floppy-disk"
        [disabled]="!foodsService.foods().length"
        (click)="foodsService.downloadFoods()"
      >
        Save ({{ foodsService.foods().length }})
      </button>
      <input
        #jsonUploadFoods
        type="file"
        accept=".json"
        class="d-none"
        (change)="onLoadFoodsFromFile($event)"
      />
      <button
        class="btn btn-outline-secondary p-0 px-1 rounded-0"
        iconSize="24px"
        buttonIcon="iconoir:load-action-floppy"
        (click)="jsonUploadFoods.click()"
      >
        Load
      </button>
    </div>
  </div>
  <div class="border rounded m-1 mb-0">
    <div class="mx-1">Recipes</div>
    <div class="d-flex justify-content-between p-1 bg-body-tertiary">
      <button
        class="btn btn-outline-secondary p-0 px-1 rounded-0"
        iconSize="24px"
        buttonIcon="iconoir:save-floppy-disk"
        [disabled]="!recipesService.recipes().length"
        (click)="recipesService.downloadRecipes()"
      >
        Save ({{ recipesService.recipes().length }})
      </button>
      <input
        #jsonUploadRecipes
        type="file"
        accept=".json"
        class="d-none"
        (change)="onLoadRecipesFromFile($event)"
      />
      <button
        class="btn btn-outline-secondary p-0 px-1 rounded-0"
        iconSize="24px"
        buttonIcon="iconoir:load-action-floppy"
        (click)="jsonUploadRecipes.click()"
      >
        Load
      </button>
    </div>
  </div>
  <div class="border rounded m-1 mb-0">
    <div class="mx-1 d-flex justify-content-between align-items-center">
      <div>Main diary</div>
      <span class="text-muted fst-italic opacity-75" style="font-size: 10px"
        >*Images will be skipped</span
      >
    </div>
    <div class="d-flex justify-content-between p-1 bg-body-tertiary">
      <button
        class="btn btn-outline-secondary p-0 px-1 rounded-0"
        iconSize="24px"
        buttonIcon="iconoir:save-floppy-disk"
        [disabled]="!diaryLogService.diaryLog()?.diaryDays?.length"
        (click)="diaryLogService.downloadDiary()"
      >
        Save ({{ diaryLogService.diaryLog()?.diaryDays?.length || 0 }})
      </button>
      <input
        #jsonUploadDiary
        type="file"
        accept=".json"
        class="d-none"
        (change)="onLoadDiaryFromFile($event)"
      />
      <button
        class="btn btn-outline-secondary p-0 px-1 rounded-0"
        iconSize="24px"
        buttonIcon="iconoir:load-action-floppy"
        (click)="jsonUploadDiary.click()"
      >
        Load
      </button>
    </div>
  </div>
  <div class="border rounded m-1 mb-0">
    <div class="mx-1">Google Drive sync</div>
    <div class="d-flex flex-column gap-1 p-1 bg-body-tertiary">
      @if (!googleDriveService.isSignedIn()) {
        <button
          class="btn btn-secondary p-0 px-1 rounded opacity-75"
          iconSize="24px"
          buttonIcon="iconoir:google"
          (click)="googleDriveService.signIn()"
        >
          Sign in with Google
        </button>
      } @else {
        <button
          class="btn p-0 px-1 rounded opacity-40"
          [class]="{
            'btn-secondary': !googleDriveService.isSyncing(),
            'btn-outline-secondary': googleDriveService.isSyncing(),
          }"
          iconSize="24px"
          buttonIcon="iconoir:cloud-upload"
          [disabled]="googleDriveService.isSyncing()"
          (click)="googleDriveService.uploadToDrive()"
        >
          Upload to Drive
        </button>
        <button
          class="btn p-0 px-1 rounded opacity-40"
          [class]="{
            'btn-secondary': !googleDriveService.isSyncing(),
            'btn-outline-secondary': googleDriveService.isSyncing(),
          }"
          iconSize="24px"
          buttonIcon="iconoir:cloud-download"
          [disabled]="googleDriveService.isSyncing()"
          (click)="googleDriveService.downloadFromDrive()"
        >
          Download from Drive
        </button>
        <button
          class="btn btn-secondary p-0 px-1 rounded opacity-75 mt-4"
          iconSize="24px"
          buttonIcon="iconoir:log-out"
          (click)="googleDriveService.signOut()"
        >
          Sign out
        </button>
      }
    </div>
  </div>
  <div class="border rounded m-1 mb-0 bg-warning-subtle">
    <div class="mx-1">Storage reset</div>
    <div class="d-flex flex-column align-items-center p-1 pt-0 bg-body-tertiary">
      <div class="p-1 text-warning" style="font-size: 12px">
        Make sure you saved your data before clearing...
      </div>
      <button
        class="btn btn-outline-warning p-0 px-1 opacity-25"
        iconSize="24px"
        buttonIcon="grommet-icons:clear"
        (click)="clearAllMemory()"
      >
        Clear all memory!
      </button>
    </div>
  </div>
</div>
