<div class="d-flex flex-column content-wrapper" style="height: calc(100vh - 56px)">
  <div
    class="text-center bg-body-secondary fst-italic fw-semibold py-1 opacity-85"
    style="font-size: 18px; text-shadow: 0 0 4px rgba(180, 120, 250, 0.75)"
  >
    FoodFetish&trade; - because we can!
  </div>

  <div class="text-center border rounded py-2 m-2" style="transform: rotateX(25deg)">
    <div class="fw-bold fs-5 text-info opacity-65">Simplest calorie tracker ever!</div>
    <div class="text-muted opacity-50" style="font-size: 12px">
      no ads, no database, no login...
    </div>
  </div>

  <a
    class="nav-link fw-bold text-center bg-body-tertiary text-success-emphasis rounded m-1 p-2 opacity-75 text-decoration-underline mt-0 d-flex align-items-center justify-content-between"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.diary"
  >
    <iconify icon="mdi:book-edit-outline" size="32px" />
    <div class="fs-5" style="min-width: 120px">Diary</div>
    <iconify icon="mdi:book-edit-outline" size="32px" />
  </a>
  <a
    class="nav-link fw-bold text-center bg-body-tertiary text-primary rounded m-1 p-2 opacity-60 text-decoration-underline d-flex align-items-center justify-content-between"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.recipes"
  >
    <iconify icon="pajamas:recipe" size="32px" />
    <div class="fs-5" style="min-width: 120px">Recipes</div>
    <iconify icon="pajamas:recipe" size="32px" />
  </a>
  <a
    class="nav-link fw-bold text-center bg-body-tertiary text-danger-emphasis rounded m-1 p-2 opacity-75 text-decoration-underline d-flex align-items-center justify-content-between"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.myFoods"
  >
    <iconify icon="fluent:food-apple-24-regular" size="32px" />
    <div class="fs-5" style="min-width: 120px">My foods</div>
    <iconify icon="fluent:food-apple-24-regular" size="32px" />
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-2 mt-1 opacity-40 text-decoration-underline d-flex align-items-center justify-content-between"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.options"
  >
    <iconify icon="eva:options-2-outline" size="32px" />
    <div class="fs-5" style="min-width: 120px">Options</div>
    <iconify icon="eva:options-2-outline" size="32px" />
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-2 opacity-40 text-decoration-underline d-flex align-items-center justify-content-between"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.about"
  >
    <iconify icon="mdi:about-variant" size="32px" />
    <div class="fs-5" style="min-width: 120px">About</div>
    <iconify icon="mdi:about-variant" size="32px" />
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 mt-4 p-1 opacity-40"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.releaseNotes"
  >
    <span class="release-notes">Release notes</span>
    @if (versionService.isNewVersion()) {
      <div class="version">{{ versionService.releases[0].version }}</div>
    }
  </a>

  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 mt-4 p-1 opacity-65 text-decoration-underline"
    href="https://ko-fi.com/dam1ran"
    target="_blank"
    style="text-underline-offset: 3px; color: #ff6bc6"
  >
    &#9829; <span class="fw-semibold">I would like your coffee tip!</span> &#9829;
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-1 opacity-65 text-decoration-underline"
    href="https://paypal.me/Dam1ran"
    target="_blank"
    style="text-underline-offset: 3px; color: #6a79ff"
  >
    &#9829; <span class="fw-semibold">PayPal</span> &#9829;
  </a>

  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-1 opacity-25 text-decoration-underline mt-4"
    style="text-underline-offset: 2px"
    href="https://t.me/KiloWak"
  >
    Me on telegram
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-1 opacity-25 text-decoration-underline"
    style="text-underline-offset: 2px"
    href="https://t.me/OurEverydayFood"
  >
    Telegram group
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-1 opacity-50 text-decoration-underline"
    style="text-underline-offset: 2px"
    href="privacy-policy.html"
  >
    Privacy policy
  </a>
  <div class="bg-warning-subtle text-center fst-italic mt-auto opacity-40" style="font-size: 12px">
    Work in progress...
  </div>
</div>
