<div class="d-flex flex-column content-wrapper" style="height: calc(100vh - 56px)">
  <div class="mb-4">
    <div class="text-center bg-body-secondary">FoodFetish&trade; - because we can!</div>
    <div class="text-center mt-2">
      <div class="mt-2 fw-bold fs-5">Simplest calorie tracker ever!</div>
      <div class="text-muted opacity-50" style="font-size: 12px">
        no ads, no database, no login...
      </div>
      <div class="mt-4 mx-2 text-start bg-dark-subtle rounded px-2 py-1">
        For now information is stored in browser memory. Some entities can be saved/loaded
        separately.
      </div>
    </div>
  </div>

  <a
    class="nav-link fw-bold text-center bg-body-tertiary rounded m-1 p-1 opacity-75 text-decoration-underline"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.diary"
  >
    Diary
  </a>
  <a
    class="nav-link fw-bold text-center bg-body-tertiary rounded m-1 p-1 opacity-75 text-decoration-underline"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.recipes"
  >
    Recipes
  </a>
  <a
    class="nav-link fw-bold text-center bg-body-tertiary rounded m-1 p-1 opacity-75 text-decoration-underline"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.myFoods"
  >
    My foods
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-1 mt-1 opacity-75 text-decoration-underline"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.options"
  >
    Options
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-1 opacity-75 text-decoration-underline"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.about"
  >
    About
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 mt-4 p-1 opacity-40"
    style="text-underline-offset: 2px"
    [routerLink]="routePaths.releaseNotes"
  >
    <span class="release-notes">Release notes</span>
    @if (versionService.isNewVersion()) {
      <div class="version">{{ versionService.releases[0].version }}</div>
    }
  </a>

  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 mt-4 p-1 opacity-90 text-decoration-underline"
    href="https://ko-fi.com/dam1ran"
    target="_blank"
    style="text-underline-offset: 3px; color: #ff6bc6"
  >
    &#9829; <span class="fw-semibold">I would like your coffee tip!</span> &#9829;
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-1 opacity-90 text-decoration-underline"
    href="https://paypal.me/Dam1ran"
    target="_blank"
    style="text-underline-offset: 3px; color: #6a79ff"
  >
    &#9829; <span class="fw-semibold">PayPal</span> &#9829;
  </a>

  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-1 opacity-25 text-decoration-underline mt-4"
    style="text-underline-offset: 2px"
    href="https://t.me/KiloWak"
  >
    Me on telegram
  </a>
  <a
    class="nav-link text-center bg-body-tertiary rounded m-1 p-1 opacity-25 text-decoration-underline"
    style="text-underline-offset: 2px"
    href="https://t.me/OurEverydayFood"
  >
    Telegram group
  </a>
  <div class="bg-warning-subtle text-center fst-italic mt-auto opacity-40" style="font-size: 12px">
    Work in progress...
  </div>
</div>
