<div class="bg-body-tertiary p-1 user-select-none">
  <div class="d-flex justify-content-between">
    @for (weekday of weekdays; track $index) {
      <div
        class="weekday bg-body cursor-pointer opacity-85"
        [class]="{
          'border-warning': isDaySelected(weekday),
          'text-primary': isTodayLbl(weekday),
          'fw-bold': isTodayLbl(weekday),
          'fst-normal': isTodayLbl(weekday),
          'bg-body-secondary': $index === 5 || $index === 6,
        }"
        (click)="selectWeekDay(weekday)"
      >
        <div class="text-center">{{ weekday }}.</div>
        <div
          class="rounded m-auto"
          style="width: 10px; height: 10px"
          [style.background-color]="getIndicatorStatusColor(weekday)"
        ></div>
      </div>
    }
    <date-picker [(selectedDate)]="selectedDate" />
  </div>
</div>
