<div
  class="content-wrapper d-flex justify-content-between gap-2 p-1 bg-body-tertiary border-bottom"
>
  <div class="position-relative">
    <input
      type="text"
      placeholder="Filter by name"
      class="form-control p-1"
      [(ngModel)]="nameFilter"
    />
    <button
      class="btn btn-sm btn-secondary p-0 position-absolute end-0 top-50 translate-middle-y me-2 z-1"
      buttonIcon="mdi:close"
      [iconSize]="'16px'"
      (click)="nameFilter.set('')"
    ></button>
  </div>
</div>

<div
  class="content-wrapper d-flex flex-column justify-content-between"
  style="height: calc(100dvh - 100px)"
>
  <div class="overflow-y-auto">
    @for (recipe of recipes(); track recipe.id) {
      <div class="accordion accordion-flush my-1 rounded overflow-hidden" id="accordionFlush">
        <div class="accordion-item">
          <h2 class="accordion-header d-flex align-items-center gap-1 bg-body-tertiary">
            <button
              class="btn btn-outline-primary ms-1 opacity-50"
              buttonIcon="material-symbols:add-row-above-rounded"
              iconSize="24px"
              (click)="toggleAddRecipeToDiary(recipe.id)"
            ></button>
            <input
              class="form-control form-control-sm text-center bg-dark-subtle"
              style="font-size: 16px"
              type="text"
              [value]="recipe.name"
              (input)="recipesService.updateRecipeName(recipe.id, $event.target.value)"
            />
            <input
              class="form-control form-control-sm text-center bg-dark-subtle"
              style="font-size: 14px; max-width: 30px; padding: 5.5px 2px !important"
              placeholder="portions"
              type="number"
              min="1"
              step="1"
              inputmode="numeric"
              [value]="recipe.portions"
              (input)="recipesService.updateRecipePortions(recipe.id, $event.target.value)"
            />
            <button
              class="btn btn-outline-secondary me-1 opacity-65"
              [class.btn-outline-success]="recipe.note"
              buttonIcon="iconoir:notes"
              iconSize="24px"
              (click)="toggleEditRecipeNoteDialog(recipe.id, recipe.note)"
            ></button>
            <button
              class="accordion-button shadow-none border border-start-0"
              [class.collapsed]="recipesService.expandedRecipeId() !== recipe.id"
              style="width: auto; padding: 10px 0.5rem"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#flush-collapse' + $index"
              (click)="recipesService.toggleExpandedRecipeId(recipe.id)"
            ></button>
          </h2>
          <div
            #collapsible
            [id]="'flush-collapse' + $index"
            class="accordion-collapse collapse rounded"
            [class.show]="recipesService.expandedRecipeId() === recipe.id"
            data-bs-parent="#accordionFlush"
          >
            <div
              cdkDropList
              (cdkDropListDropped)="
                recipesService.changeFoodOrder(recipe.id, $event.previousIndex, $event.currentIndex)
              "
              class="d-flex flex-column py-1 gap-1"
            >
              @for (food of recipe.foods; track $index + food.id; let isLast = $last) {
                <div
                  class="d-flex bg-dark-subtle overflow-hidden p-2 align-items-center gap-1 rounded"
                  style="font-size: 14px; margin-top: 2px"
                  cdkDrag
                >
                  <div
                    class="bg-warning-subtle opacity-25 d-flex align-content-center rounded border border-warning-subtle"
                  >
                    <button
                      class="btn-close p-0"
                      (click)="recipesService.removeFood(recipe.id, $index)"
                    ></button>
                  </div>
                  <div
                    class="text-center align-content-center align-self-stretch text-muted opacity-50"
                    style="min-width: 16px; font-size: 12px; padding: 0 2px"
                  >
                    {{ $index + 1 }}
                  </div>
                  <div class="flex-grow-1" style="font-size: 16px">{{ food.name }}</div>
                  <input
                    type="number"
                    class="form-control form-control-sm text-center p-0 border border-success-subtle gram-input bg-body me-1"
                    style="font-size: 14px"
                    [value]="food.weight"
                    (blur)="recipesService.updateFoodWeight(recipe.id, $index, $event.target.value)"
                    #weightInput
                    [attr.to-focus]="isLast && recipesService.expandedRecipeId() === recipe.id"
                  />
                  <div class="bg-body-secondary" cdkDragHandle>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              }
            </div>
            <div class="mx-auto d-flex justify-content-center align-items-center">
              @if (recipe?.imageId) {
                <div
                  class="d-flex justify-content-evenly align-items-center w-100 position-relative overflow-hidden"
                >
                  <div
                    class="overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="box-shadow: 0 0 2px 3px rgba(30, 30, 30, 0.5); border-radius: 6px"
                  >
                    <button
                      class="btn text-black border p-0 position-absolute end-0 top-0 me-1 mt-1 z-2 opacity-75"
                      buttonIcon="mdi:close"
                      [iconSize]="'16px'"
                      (click)="deleteImage(recipe.imageId)"
                    ></button>
                    <meal-thumb
                      class="z-1"
                      [imageId]="recipe.imageId"
                      (deleteChange)="deleteImage($event)"
                    />
                  </div>
                  <div class="position-absolute z-0 w-100">
                    <meal-thumb stretched [imageId]="recipe.imageId" />
                  </div>
                </div>
              } @else {
                <input
                  #imgInput
                  type="file"
                  accept="image/*"
                  class="d-none"
                  autofocus="false"
                  tabindex="-1"
                  (change)="onImageSelected($event, recipe)"
                />
                <button
                  class="btn opacity-70"
                  buttonIcon="streamline-logos:food-spotting-logo-2-block"
                  iconSize="48px"
                  (click)="imgInput.click()"
                ></button>
              }
            </div>
            <div class="p-2 bg-body-tertiary">
              <button
                class="btn btn-outline-success w-100 opacity-90"
                buttonIcon="iconoir:lens-plus"
                (click)="$event.stopPropagation(); addFood(recipe.id)"
                iconSize="16px"
              >
                Add food
              </button>
            </div>
            @if (recipe.foods?.length) {
              <div class="d-flex mt-1">
                <div
                  class="row g-0 flex-grow-1 fw-bold text-muted fst-italic opacity-25"
                  style="font-size: 12px"
                >
                  <div
                    style="color: rgb(80, 100, 240)"
                    class="col col-2 text-center align-content-center bg-body-secondary"
                  >
                    P
                  </div>
                  <div
                    style="color: rgb(220, 220, 90)"
                    class="col col-2 text-center align-content-center"
                  >
                    C
                  </div>
                  <div
                    style="color: rgb(200, 160, 30)"
                    class="col col-2 text-center align-content-center bg-body-secondary"
                  >
                    Fa
                  </div>
                  <div
                    style="color: rgb(100, 130, 20)"
                    class="col col-2 text-center align-content-center"
                  >
                    Fi
                  </div>
                  <div
                    style="color: rgb(150, 140, 180)"
                    class="col col-2 text-center align-content-center bg-body-secondary"
                  >
                    Kcal
                  </div>
                  <div class="col col-2 text-center align-content-center">g</div>
                </div>
              </div>
              <div class="d-flex">
                <div
                  class="row g-0 flex-grow-1 fw-bold text-muted fst-italic"
                  style="font-size: 12px"
                >
                  <div
                    style="color: rgb(80, 100, 240)"
                    class="col col-2 text-center align-content-center bg-body-secondary"
                  >
                    {{ getMealProtein(recipe).toFixed(1) }}
                  </div>
                  <div
                    style="color: rgb(220, 220, 90)"
                    class="col col-2 text-center align-content-center"
                  >
                    {{ getMealCarbs(recipe).toFixed(1) }}
                  </div>
                  <div
                    style="color: rgb(200, 160, 30)"
                    class="col col-2 text-center align-content-center bg-body-secondary"
                  >
                    {{ getMealFats(recipe).toFixed(1) }}
                  </div>
                  <div
                    style="color: rgb(100, 130, 20)"
                    class="col col-2 text-center align-content-center"
                  >
                    {{ getMealFiber(recipe).toFixed(1) }}
                  </div>
                  <div
                    style="color: rgb(150, 140, 180)"
                    class="col col-2 text-center align-content-center bg-body-secondary"
                  >
                    {{ getMealCalories(recipe).toFixed(1) }}
                  </div>
                  <div class="text-muted opacity-60 col col-2 text-center align-content-center">
                    {{ getMealWeight(recipe).toFixed(1) }}
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    } @empty {
      <div class="fst-italic text-center bg-body-tertiary text-muted">No recipes found...</div>
    }
  </div>

  <button
    class="btn btn-outline-success p-2 rounded-top-0 rounded-bottom w-100 d-flex justify-content-between"
    (click)="addRecipe()"
  >
    <iconify icon="pajamas:recipe" />
    Add a recipe
    <iconify icon="mdi:plus" />
  </button>
</div>

<ng-template #editRecipeNoteDialog>
  <textarea
    class="form-control form-control-sm meal-name-input text-center"
    rows="3"
    placeholder="Recipe note"
    [value]="editNoteRecipe()"
    (input)="recipesService.updateRecipeNote(editNoteRecipeId(), $any($event.target).value)"
  ></textarea>
</ng-template>
