.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(rgba(240, 200, 240, 0.05), rgba(20, 20, 20, 0.05));
  z-index: 1000;
  pointer-events: none;
}
