<div class="content-wrapper">
  <div
    class="bg-body-tertiary text-center"
    [class]="{
      'fst-italic': !isTodaySelected(),
      'fw-semibold': isTodaySelected(),
      'text-muted': !isTodaySelected(),
    }"
    style="font-size: 14px; line-height: 18px"
  >
    <span class="opacity-85">{{ selectedDayJs()?.toISOString() | date }}</span>
  </div>
  <weekdays [(selectedDate)]="selectedDate" />
  <div class="border-bottom"></div>
  <div class="d-flex">
    <div class="d-flex justify-content-between align-items-center p-1" style="width: 130px">
      <button
        class="btn p-0 opacity-75 d-flex justify-content-between rounded"
        style="border: 1px solid transparent"
        [class.btn-outline-info]="diaryLogService.getDayNote(selectedDayJs().toISOString())"
        (click)="toggleEditDayNoteDialog(editDayNoteDialog)"
      >
        <iconify icon="iconoir:notes" />
      </button>
      <div class="d-flex align-items-center">
        <button
          class="btn p-0 d-flex justify-content-between position-relative opacity-70"
          style="width: fit-content"
          (click)="diaryLogService.subtractDayWater(selectedDayJs().toISOString(), 250)"
        >
          <iconify
            size="16px"
            icon="iconamoon:sign-minus-bold"
            class="position-absolute z-1 translate-middle top-50 start-50 text-info-emphasis"
          />
          <iconify icon="mdi:glass-outline" class="z-0 opacity-20" />
        </button>
        @let waterMl = diaryLogService.getDayWater(selectedDayJs().toISOString());
        <div
          class="text-center rounded fw-semibold opacity-70"
          style="width: 40px; border: 1px solid transparent"
          [class.border-info-subtle]="
            waterThresholdMet(waterMl, optionsService.options().weightFormulaBackDays)
          "
          [style]="{
            'background-color': getWaterBg(waterMl, optionsService.options().weightFormulaBackDays),
          }"
        >
          @if (waterMl) {
            {{ (waterMl / 1000).toFixed(2) }}L
          } @else {
            ?
          }
        </div>
        <button
          class="btn p-0 d-flex justify-content-between position-relative opacity-70"
          style="width: fit-content"
          (click)="diaryLogService.addDayWater(selectedDayJs().toISOString(), 250)"
        >
          <iconify
            size="16px"
            icon="iconamoon:sign-plus-bold"
            class="position-absolute z-1 translate-middle top-50 start-50 text-info-emphasis"
          />
          <iconify icon="mdi:glass-outline" class="z-0 opacity-20" />
        </button>
      </div>
    </div>
    <div
      class="row g-0 flex-grow-1 fw-bold text-muted fst-italic opacity-25 bg-body-secondary"
      style="font-size: 12px"
    >
      <div class="col col-2 align-self-center text-center">P</div>
      <div class="col col-2 align-self-center text-center">C</div>
      <div class="col col-2 align-self-center text-center">Fa</div>
      <div class="col col-2 align-self-center text-center">Fi</div>
      <div class="col col-2 align-self-center text-center">KCal</div>
      <div class="col col-2 align-self-center text-center">G</div>
    </div>
  </div>
  <div class="border-bottom"></div>
  <div class="accordion accordion-flush position-relative" id="accordionFlush">
    <div class="overlay"></div>
    @for (
      mealTemplateEntry of dayTemplateService.getDayTemplate()!.entries;
      let mealIndex = $index;
      track mealIndex
    ) {
      @let respectiveMeal = getRespectiveMeal(mealTemplateEntry.position);
      @if (isMealShown(mealTemplateEntry.position)) {
        <div class="accordion-item">
          <h2 class="accordion-header d-flex align-items-center">
            <button
              class="accordion-button p-2 text-truncate text-muted shadow-none"
              [class]="{
                collapsed: !isMealExpanded(mealTemplateEntry.position),
                'fw-semibold': mealTemplateEntry.position !== mealPosition.Snacks,
                'opacity-50':
                  mealTemplateEntry.position !== mealPosition.Snacks &&
                  !isMealExpanded(mealTemplateEntry.position),
                'opacity-30': mealTemplateEntry.position === mealPosition.Snacks,
                'opacity-70': isMealExpanded(mealTemplateEntry.position),
              }"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#flush-collapse' + mealIndex"
              (click)="toggleExpandedMeal(mealTemplateEntry.position)"
              style="width: 130px"
            >
              {{ mealPositionMap[mealTemplateEntry.position] }}
            </button>
            <div class="flex-grow-1 align-self-stretch">
              <div
                class="row g-0 h-100 fw-light fst-italic"
                [class]="{
                  'bg-body-tertiary': !isMealExpanded(mealTemplateEntry.position),
                  'bg-dark-subtle': isMealExpanded(mealTemplateEntry.position),
                }"
                style="font-size: 12px; transition: background-color 0.3s"
              >
                @let positionStats = getPositionStats(mealTemplateEntry.position);
                <div
                  class="col col-2 align-self-center text-center"
                  style="color: rgb(80, 100, 240)"
                >
                  @if (positionStats.proteins; as proteins) {
                    {{ proteins.toFixed() }}
                  }
                </div>
                <div
                  class="col col-2 align-self-center text-center"
                  style="color: rgb(220, 220, 90)"
                >
                  @if (positionStats.carbs; as carbs) {
                    {{ carbs.toFixed() }}
                  }
                </div>
                <div
                  class="col col-2 align-self-center text-center"
                  style="color: rgb(200, 160, 30)"
                >
                  @if (positionStats.fats; as fats) {
                    {{ fats.toFixed() }}
                  }
                </div>
                <div
                  class="col col-2 align-self-center text-center"
                  style="color: rgb(100, 130, 20)"
                >
                  @if (positionStats.fiber; as fiber) {
                    {{ fiber.toFixed() }}
                  }
                </div>
                <div
                  class="col col-2 align-self-center text-center"
                  style="color: rgb(150, 140, 180)"
                >
                  @if (positionStats.calories; as calories) {
                    {{ calories.toFixed() }}
                  }
                </div>
                <div
                  class="col col-2 align-self-center text-center"
                  style="color: rgb(100, 100, 100)"
                >
                  @if (positionStats.weight; as weight) {
                    {{ weight.toFixed() }}
                  }
                </div>
              </div>
            </div>
          </h2>
          <div
            #collapsible
            [id]="'flush-collapse' + mealIndex"
            class="accordion-collapse collapse rounded"
            [class.show]="isMealExpanded(mealTemplateEntry.position)"
            data-bs-parent="#accordionFlush"
          >
            @if (respectiveMeal && mealTemplateEntry.position !== mealPosition.Snacks) {
              <div class="d-flex align-items-center p-2 gap-1 bg-body-tertiary">
                <button
                  class="btn btn-outline-secondary border-0"
                  [class.btn-outline-success]="respectiveMeal.note"
                  buttonIcon="iconoir:notes"
                  iconSize="24px"
                  (click)="toggleEditMealNoteDialog(respectiveMeal.id, respectiveMeal.note)"
                ></button>
                <input
                  class="form-control form-control-sm shadow-none text-center bg-dark"
                  type="text"
                  [value]="respectiveMeal.name"
                  (input)="updateMealName(mealTemplateEntry.position, $event.target.value)"
                />
                <ngb-timepicker
                  size="small"
                  [spinners]="false"
                  [(ngModel)]="respectiveMeal.time"
                  (change)="diaryLogService.saveDiaryLog()"
                />
              </div>
            }

            @for (
              recipe of getRespectiveRecipes(mealTemplateEntry.position);
              let recipeIndex = $index;
              track recipeIndex;
              let isOdd = $odd
            ) {
              <diary-recipe
                [recipe]="recipe"
                (updateFoodWeight)="
                  updateRecipeFoodWeight(
                    mealTemplateEntry.position,
                    recipeIndex,
                    $event.foodIndex,
                    $event.newWeight
                  )
                "
                (removeRecipe)="removeRecipeFromPosition(mealTemplateEntry.position, recipeIndex)"
                (removeFood)="removeFoodFromRecipe(mealTemplateEntry.position, recipeIndex, $event)"
              />
            }
            <div class="d-flex flex-column gap-1" [class.py-1]="respectiveMeal?.foods?.length">
              @for (
                food of respectiveMeal?.foods;
                let foodIndex = $index;
                track foodIndex;
                let isOdd = $odd;
                let isLast = $last
              ) {
                <food-row
                  [food]="food"
                  [isOdd]="isOdd"
                  (removeFood)="removeFood(mealTemplateEntry.position, foodIndex)"
                  (updateFoodWeight)="
                    updateFoodWeight(mealTemplateEntry.position, foodIndex, $event)
                  "
                  [focusWeight]="isMealExpanded(mealTemplateEntry.position) && isLast"
                />
              }
            </div>
            <div class="mx-auto d-flex justify-content-center align-items-center">
              @if (respectiveMeal?.imageId) {
                <div
                  class="d-flex justify-content-evenly align-items-center w-100 position-relative overflow-hidden"
                >
                  <div
                    class="overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="box-shadow: 0 0 2px 3px rgba(30, 30, 30, 0.5); border-radius: 6px"
                  >
                    <button
                      class="btn text-black border p-0 position-absolute end-0 top-0 me-1 mt-1 z-2 opacity-75"
                      buttonIcon="mdi:close"
                      [iconSize]="'16px'"
                      (click)="deleteImage(respectiveMeal.imageId)"
                    ></button>
                    <meal-thumb
                      class="z-1"
                      [imageId]="respectiveMeal.imageId"
                      (deleteChange)="deleteImage($event)"
                    />
                  </div>
                  <div class="position-absolute z-0 w-100">
                    <meal-thumb stretched [imageId]="respectiveMeal.imageId" />
                  </div>
                </div>
              } @else if (
                respectiveMeal?.foods?.length ||
                getRespectiveRecipes(mealTemplateEntry.position)?.length
              ) {
                <input
                  #imgInput
                  type="file"
                  accept="image/*"
                  class="d-none"
                  autofocus="false"
                  tabindex="-1"
                  (change)="onImageSelected($event, respectiveMeal)"
                />
                <button
                  class="btn opacity-50"
                  buttonIcon="streamline-logos:food-spotting-logo-2-block"
                  iconSize="48px"
                  (click)="imgInput.click()"
                ></button>
              }
            </div>
            <div class="p-2 bg-body-tertiary d-flex gap-2 justify-content-between">
              <button
                class="btn btn-outline-primary btn-sm opacity-60 flex-grow-1"
                buttonIcon="pajamas:recipe"
                (click)="$event.stopPropagation(); addRecipe(mealTemplateEntry.position)"
                iconSize="24px"
                [minWidthPx]="90"
              >
                Recipe
              </button>
              <button
                class="btn btn-outline-success btn-sm opacity-50 flex-grow-1"
                buttonIcon="si:barcode-fill"
                (click)="$event.stopPropagation(); onScanBarcodeClick(mealTemplateEntry.position)"
                iconSize="24px"
                [minWidthPx]="90"
              >
                Barcode
              </button>
              <button
                class="btn btn-outline-success btn-sm opacity-80 flex-grow-1"
                buttonIcon="iconoir:lens-plus"
                (click)="$event.stopPropagation(); addFood(mealTemplateEntry.position)"
                iconSize="24px"
                [minWidthPx]="90"
              >
                Food
              </button>
            </div>
          </div>
        </div>
      }
    }
  </div>
  <total-row [stats]="getDayStats()" [fixedDecimals]="0" />

  <macros-widget
    [isoDate]="selectedDayJs().toISOString()"
    [stats]="getDayStats()"
    class="mt-1 d-block opacity-95"
  />
  <weight-in-widget [isoDate]="selectedDayJs().toISOString()" class="mt-1 d-block" />
  <activity-widget [isoDate]="selectedDayJs().toISOString()" />
</div>

<ng-template #editMealNoteDialog>
  <textarea
    class="form-control form-control-sm text-center"
    rows="3"
    placeholder="Meal note"
    [value]="editNoteMeal()"
    (input)="updateMealNote(editNoteMealId(), $any($event.target).value)"
  ></textarea>
</ng-template>

<ng-template #editDayNoteDialog>
  <textarea
    class="form-control form-control-sm text-center"
    rows="3"
    placeholder="Day note"
    [value]="diaryLogService.getDayNote(selectedDayJs().toISOString())"
    (input)="
      diaryLogService.updateDayNote(selectedDayJs().toISOString(), $any($event.target).value)
    "
  ></textarea>
</ng-template>
