<div class="bg-body rounded mt-1 rounded overflow-hidden">
  <div class="d-flex align-items-center bg-body-secondary">
    <div class="text-muted text-center flex-grow-1 opacity-50" style="font-size: 12px">
      Activities
    </div>
    <button
      class="btn btn-sm"
      iconSize="24px"
      buttonIcon="iconamoon:sign-plus-bold"
      (click)="diaryLogService.addActivity(isoDate())"
    ></button>
  </div>
  <div
    class="d-flex flex-column accordion accordion-flush"
    style="gap: 1px; padding: 1px 0px"
    id="accordionActivityFlush"
  >
    @for (
      activity of diaryLogService.getActivities(isoDate());
      track $index;
      let activityIndex = $index
    ) {
      <div class="accordion-item rounded overflow-hidden border-0">
        <h2 class="accordion-header d-flex align-items-center gap-1">
          <button
            class="btn btn-outline-warning btn-sm opacity-25 mx-1"
            buttonIcon="iconoir:trash"
            iconSize="16px"
            (click)="diaryLogService.removeActivity(isoDate(), $index)"
          ></button>
          <button
            type="button"
            class="btn btn-outline-secondary dropdown-toggle mx-auto after-none opacity-75 my-1"
            style="min-width: 150px; padding: 2px 4px"
            data-bs-toggle="dropdown"
          >
            {{ activitiesTypes[activity.type].label }}
          </button>
          <ul class="dropdown-menu p-0 overflow-hidden shadow-sm" style="min-width: 150px">
            @for (activityType of activitiesTypes; track $index) {
              @if (activityType.value) {
                <li>
                  <span
                    class="dropdown-item cursor-pointer px-2 text-center"
                    (click)="
                      diaryLogService.setActivityType(isoDate(), activityIndex, activityType.value)
                    "
                  >
                    {{ activityType.label }}
                  </span>
                </li>
              }
            }
          </ul>
          <button
            class="accordion-button p-1 bg-body-tertiary collapsed text-truncate text-muted fw-bold shadow-none rounded"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#flush-activity-collapse' + $index"
          >
            <div class="d-flex justify-content-around flex-grow-1 align-items-center">
              <iconify [icon]="activityTypeIconMap[activity.type].icon" />
              <span class="opacity-15">
                <iconify icon="icon-park-outline:timer" size="24px" />
              </span>
              <input
                class="form-control form-control-sm shadow-none text-center border border-info-subtle rounded-circle opacity-75"
                type="number"
                inputmode="numeric"
                step="1"
                min="0"
                placeholder="m"
                style="width: 30px; padding: 0"
                [(ngModel)]="activity.durationMinutes"
                (blur)="diaryLogService.saveDiaryLog()"
              />
            </div>
          </button>
        </h2>
        <div
          #collapsible
          [id]="'flush-activity-collapse' + $index"
          class="accordion-collapse collapse bg-body-tertiary"
          data-bs-parent="#accordionActivityFlush"
        >
          <div class="p-1 d-flex gap-2 justify-content-between">
            <div class="d-flex align-items-center gap-1">
              <span class="fopacity-15" style="margin: 0px 1px">
                <iconify icon="mingcute:time-line" size="24px" />
              </span>
              <div class="" style="padding: 2px 0">
                <ngb-timepicker
                  size="small"
                  [spinners]="false"
                  [(ngModel)]="activity.time"
                  (change)="diaryLogService.saveDiaryLog()"
                />
              </div>
            </div>
            <div class="flex-grow-1" style="padding: 2px">
              <input
                class="form-control form-control-sm shadow-none text-center border-none opacity-75"
                type="text"
                placeholder="Note"
                [(ngModel)]="activity.note"
                (blur)="diaryLogService.saveDiaryLog()"
              />
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
