@use 'bootstrap/scss/bootstrap';

*[_debug] {
  outline: 1px solid rgb(255, 123, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  z-index: 50;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(20, 20, 20, 0.5);
  border-radius: 4px;
  z-index: 50;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  z-index: 50;
  transition: background-color 0.3s ease-in-out;

  background-color: rgba(100, 200, 110, 0.3);
  border: 1px solid rgba(100, 200, 110, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 200, 110, 0.4);
  border: 1px solid rgba(100, 200, 110, 0.5);
  z-index: 50;
}

:root {
  --bs-border-radius: 0.25rem;
}

iconify-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.content-wrapper {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

.bmw {
  min-width: 7.5rem;
}

@for $i from 0 through 20 {
  .opacity-#{$i * 5} {
    opacity: calc($i * 0.05) !important;
  }
}
