<div class="d-flex">
  <div class="fw-semibold text-muted opacity-25 fst-italic text-center bg-body-tertiary rounded" style="width: 130px">Total</div>
  <div class="row g-0 flex-grow-1 fw-bold text-muted fst-italic opacity-75" style="font-size: 13px">
    <div class="col col-2 text-center align-content-center bg-body-secondary rounded-start" style="color: rgb(80, 100, 240)">
      {{ stats().proteins.toFixed(fixedDecimals()) }}
    </div>
    <div class="col col-2 text-center align-content-center" style="color: rgb(220, 220, 90)">
      {{ stats().carbs.toFixed(fixedDecimals()) }}
    </div>
    <div class="col col-2 text-center align-content-center bg-body-secondary" style="color: rgb(200, 160, 30)">
      {{ stats().fats.toFixed(fixedDecimals()) }}
    </div>
    <div class="col col-2 text-center align-content-center" style="color: rgb(100, 130, 20)">
      {{ stats().fiber.toFixed(fixedDecimals()) }}
    </div>
    <div class="col col-2 text-center align-content-center bg-body-secondary" style="color: rgb(150, 140, 180);">
      {{ stats().calories.toFixed(fixedDecimals()) }}
    </div>
    <div class="col col-2 text-center align-content-center rouded-end" style="color: rgb(100, 100, 100);">
      {{ stats().weight.toFixed(fixedDecimals()) }}
    </div>
  </div>
</div>
